@model MovieWorld.Client.Models.MovieModel

<form action="/movie/add" method="post">
  <label for="title">title</label>
  <input type="text" name="title1" id="title">

  <label for="genre">genre</label>
  <input type="text" name="genre1" id="genre">

  <button type="submit"></button>
</form>
